name: LibreLinkUp to Nightscout

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  librelinkup:
    runs-on: ubuntu-latest
    steps:
      - name: Check secrets present
        run: |
          if [ -z "${{ secrets.LINK_UP_USERNAME }}" ]; then echo "LINK_UP_USERNAME is EMPTY"; else echo "LINK_UP_USERNAME is SET"; fi
          if [ -z "${{ secrets.LINK_UP_PASSWORD }}" ]; then echo "LINK_UP_PASSWORD is EMPTY"; else echo "LINK_UP_PASSWORD is SET"; fi
      - name: Run LibreLinkUp bridge
        uses: atorrentca/nightscout-librelink-up@main
        env:
          LINK_UP_USERNAME: ${{ secrets.LINK_UP_USERNAME }}
          LINK_UP_PASSWORD: ${{ secrets.LINK_UP_PASSWORD }}
          LINK_UP_REGION: ${{ secrets.LINK_UP_REGION }}
          NIGHTSCOUT_URL: ${{ secrets.NIGHTSCOUT_URL }}
          NIGHTSCOUT_API_TOKEN: ${{ secrets.NIGHTSCOUT_API_TOKEN }}
          LINK_UP_TIME_INTERVAL: ${{ secrets.LINK_UP_TIME_INTERVAL }}
