name: LibreLinkUp to Nightscout

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  librelinkup:
    runs-on: ubuntu-latest
    steps:
      - name: Run LibreLinkUp bridge
        uses: timoschlueter/nightscout-librelink-up@master
        env:
          LINK_UP_USERNAME: ${{ secrets.LINK_UP_USERNAME }}
          LINK_UP_PASSWORD: ${{ secrets.LINK_UP_PASSWORD }}
          LINK_UP_REGION: ${{ secrets.LINK_UP_REGION }}
          NIGHTSCOUT_URL: ${{ secrets.NIGHTSCOUT_URL }}
          NIGHTSCOUT_API_TOKEN: ${{ secrets.NIGHTSCOUT_API_TOKEN }}
          LINK_UP_TIME_INTERVAL: ${{ secrets.LINK_UP_TIME_INTERVAL }}
